{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row banner menu">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    
    </br>


    <a href='{{url_for('deleteRecipe', recipe_id=recipe.id)}}'>
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete                 
        </button>
    </a>
    <a href='{{url_for('editRecipe', recipe_id=recipe.id)}}'>
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Edit
        </button>
    </a>


    </br>

    <h3 class="recipe">Description</h3>
    <div class="restaurant-list"> {{recipe.description}}</div>

    </br>

    <h3 class="recipe">Ingredients</h3>
    <div class="restaurant-list">
        {% for item in items %}
            <li>{{item}}</li>
        {% endfor %}
    
    </div>

    </br>

    <h3 class="recipe">Instructions</h3>
    <div class="restaurant-list">
        {{recipe.instructions}}
    <div>  
    

{% endblock %}
